<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="\static\css\style.css">
</head> 
<body>
    <main role="main"> 
        <div class="album py-5 bg-light main container">
          
           <form action='/process' method='POST'>
            <table>
              <tr>
                <td>
              <h1>Dojo Survey</h1>
                </td>
              </tr>
              <tr>
              <td>
                <label for="yourName">Your Name:</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" name="yourName" placeholder="" value="" cols="50">
              </td>
            </tr>
            <tr>
              <td>
                <label for="dojoLocation">Dojo Location:</label>
              </td>
            </tr>
            <tr>
              <td>
                <select name="dojoLocation" id="dojoLocation">
                  <option value="san_jose">San Jose</option>
                  <option value="chicago">Chicago</option>
                  <option value="raleigh">Raleigh</option>
                  <option value="new_york">New York</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="favLanguage">Favorite Language:</label>    
              </td>
            </tr>
            <tr>
              <td>
                  <input type="radio" id="python" name="favLanguage" value="Python">
                  <label for="python">Python</label><br>
                  <input type="radio" id="javascript" name="favLanguage" value="JavaScript">
                  <label for="javascript">JavaScript</label><br>
                  <input type="radio" id="html" name="favLanguage" value="HTML">
                  <label for="html">HTML</label><br>
                  <input type="radio" id="cobol" name="favLanguage" value="COBOL">
                  <label for="cobol">COBOL</label><br>
              </td>
            </tr>
            <tr>
              <td>
                <label for="comments">Comments:</label>
              </td>
            </tr>
            <tr>
              <td>
                <textarea id="comments" name="comments" rows="2" cols="50">
                </textarea>
              </td>
            </tr>
            </table>    
                <hr class="mb-4">
                <button class="btn btn-primary btn-med btn-block" type="submit">Submit</button>
            </form>
        </div>
      </body>

</html> 
